@use "../../styles/styles" as *;

.sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sign-up-form {
    gap: $app-form-field-gap;
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #telNumber > input {
      display: block;
      width: 100%;
    }
  }
}
