<div class="app-component">
  <header class="shadow-sm d-flex justify-content-between align-items-center app-header">

    <div routerLink="/home" class="d-flex gap-2 justify-content-center align-items-center cursor-pointer">
      <img ngSrc="resources/wheel.svg" width="50" height="50" alt="Loading" class="app-logo d-block">
      <span class="display-6">DRIVE</span>
    </div>

    <div class="d-flex justify-content-evenly align-items-center gap-2">
      <p-button icon="pi pi-bell" size="large"/>
      <p-button (onClick)="userOptionsPopover.toggle($event)">
        <strong>Username</strong>
        <p-avatar label="U"/>
      </p-button>
    </div>
  </header>

  <div class="app-content">
    <div class="flex justify-center navigation-menu-wrapper">
      <p-menu [model]="items" class="navigation-menu-component"/>
    </div>
    <main class="page-content">
      <router-outlet/>
    </main>
  </div>
</div>

<p-popover #userOptionsPopover>
  <span>User options:</span>
  <ol>
    <li>Open profile</li>
    <li>Change theme</li>
    <li>Change language</li>
    <li>Logout</li>
  </ol>
</p-popover>
