.app-component {
  .app-header {
    height: 8vh;
    padding: 0 2rem;
    min-height: fit-content;
    border-bottom: 1px solid var(--p-content-border-color);

    .app-logo {
      transform: scale(1.4);
    }
  }

  .app-content {
    background: var(--p-surface-50);
    display: flex;
    height: 92vh;

    .navigation-menu-wrapper {
      overflow: auto;

      .navigation-menu-component {
        min-height: 92vh;
        display: flex;
      }
    }

    .page-content {
      overflow: auto;
      padding: 1rem;
      width: 100%;
    }
  }
}
