<div class="login-page">
  <h3>Sign in</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium at corporis culpa dignissimos
    doloremque dolorum enim fugiat impedit inventore ipsa labore maxime minima minus, modi molestias nam natus pariatur
    quaerat quam rerum temporibus velit? Accusamus accusantium aut commodi, cum debitis deserunt eligendi id iure minima
    nemo nobis provident, quam repudiandae sapiente tenetur, unde voluptate! Alias fugiat illum ipsa libero numquam
    praesentium provident quas, reiciendis sequi tempore. Eligendi excepturi in laborum optio perferendis quae qui quia
    quidem quo repellendus, tempore temporibus voluptas voluptate? Architecto distinctio, impedit ipsa laboriosam
    nesciunt officia pariatur quidem quod? Aspernatur atque distinctio in maxime placeat quos.</p>
</div>
