<div class="login-page">

  <img ngSrc="/resources/wheel.svg" width="150" height="150" alt="Loading" class="d-block">
  <p align="center" class="display-6">Добро пожаловать!</p>

  <div class="login-form">

    <div class="d-flex flex-column gap-1 w-25">
      <label for="username" class="fw-bold">Логин</label>
      <input pInputText id="username"/>
    </div>

    <div class="d-flex flex-column gap-1 w-25">
      <label for="password" class="fw-bold">Пароль</label>
      <input pInputText type="password" id="password"/>
    </div>

    <div class="d-flex justify-content-between gap-1 w-25">
      <p-button>
        Войти
      </p-button>

      <p-button text>
        Забыли пароль?
      </p-button>
    </div>

    <p-divider class="w-25"/>

    <p-button text routerLink="/sign-up">
      Нет аккаунта? Зарегистрируйтесь!
    </p-button>

  </div>
</div>
