root = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

dotnet_diagnostic.SA1101.severity = none #PrefixLocalCallsWithThis
dotnet_diagnostic.SA1633.severity = none #FileMustHaveHeader
